<style>
@import url("https://fonts.googleapis.com/css?family=Nunito");
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>


<main id="root"></main>

<script type="text/javascript">
  window.logo = "<%= asset_path "an_logo2.png" %>"
  window.altLogo = "<%= asset_path "an_logo3.png" %>"
  window.barLogo = "<%= asset_path "bar_logo.png" %>"
  window.carousel1 = "<%= asset_path "carousel1.jpg" %>"
  window.carousel2 = "<%= asset_path "carousel2.jpg" %>"
  window.ad1 = "<%= asset_path "ad-1.jpg" %>"
  window.ad2 = "<%= asset_path "ad-2.png" %>"
  window.linkedin = "<%= asset_path "pro-linkedin.png" %>"
  window.github = "<%= asset_path "pro-github.svg" %>"
  window.angellist = "<%= asset_path "pro-angellist.png" %>"
  window.loadingPizza = "<%= asset_path "loading-pizza.gif" %>"
  window.loadingGoku = "<%= asset_path "loading-goku.gif" %>"
  window.noSongs = "<%= asset_path "no-songs-sign.png" %>"
  window.user_banner1 = "<%= asset_path "user-banner1.jpg" %>"
  window.user_banner2 = "<%= asset_path "user-banner2.jpg" %>"
  window.song_banner1 = "<%= asset_path "song-banner1.jpg" %>"
  window.song_banner2 = "<%= asset_path "song-banner2.jpg" %>"
  window.user_dp = "<%= asset_path "default_avatar.png" %>"
  window.song_dp = "<%= asset_path "song_dp.jpg" %>"
  window.play_button = "<%= asset_path "play_button.png" %>"
  window.pause_button = "<%= asset_path "pause_button.png" %>"
  window.play_bar_previous = "<%= asset_path "play_bar_previous.png" %>"
  window.play_bar_play = "<%= asset_path "play_bar_play.png" %>"
  window.play_bar_pause = "<%= asset_path "play_bar_pause.png" %>"
  window.play_bar_next = "<%= asset_path "play_bar_next.png" %>"
  window.play_bar_shuffle = "<%= asset_path "play_bar_shuffle.png" %>"
  window.play_bar_loop = "<%= asset_path "play_bar_loop.png" %>"
  window.volume_on = "<%= asset_path "volume_on.png" %>"
  window.volume_off = "<%= asset_path "volume_off.png" %>"
  window.playlist = "<%= asset_path "playlist.png" %>"
  window.message = "<%= asset_path "message.png" %>"
</script>
