<style>
@import url("https://fonts.googleapis.com/css?family=Nunito");
</style>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>


<main id="root"></main>

<script type="text/javascript">
  window.logo = "<%= asset_path "an_logo.png" %>"
  window.barLogo = "<%= asset_path "bar_logo.png" %>"
  window.default_avatar = "<%= asset_path "default_avatar.png" %>"
  window.play_button = "<%= asset_path "play_button.png" %>"
  window.pause_button = "<%= asset_path "pause_button.png" %>"
  window.dogs = "<%= asset_path "dogs.jpg" %>"
  window.play_bar_previous = "<%= asset_path "play_bar_previous.png" %>"
  window.play_bar_play = "<%= asset_path "play_bar_play.png" %>"
  window.play_bar_pause = "<%= asset_path "play_bar_pause.png" %>"
  window.play_bar_next = "<%= asset_path "play_bar_next.png" %>"
  window.play_bar_shuffle = "<%= asset_path "play_bar_shuffle.png" %>"
  window.play_bar_shuffle = "<%= asset_path "play_bar_shuffle.png" %>"
  window.play_bar_loop = "<%= asset_path "play_bar_loop.png" %>"
</script>
